h1 {
    text-align: center;
    font-family: 'Bungee Shade', serif;
    color: red;
    opacity: 1.0;
}

h2 {
    text-align: center;
    font-family: 'Rakkas', serif;
    color: red;
}

p {
    text-align: center;
    font-family: 'Do Hyeon', serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 300px;
  }

#introMain{
    position:relative;
    }
    div#introFirst{
    background-image: url("./images/ravenloft.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.2;
    width: 100%;
    height:500px;
    }
    div#introSecond{
    width:100%;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }

#readingMain{
    position:relative;
    }
    div#readingFirst{
    background-image: url("./images/books.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.2;
    width: 100%;
    height:500px;
    }
    div#readingSecond{
    width:100%;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }

#paintingMain{
    position:relative;
    }
    div#paintingFirst{
    background-image: url("./images/paintbrushes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.2;
    width: 100%;
    height:500px;
    }
    div#paintingSecond{
    width:100%;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }

#gamingMain{
    position:relative;
    }
    div#gamingFirst{
    background-image: url("./images/gaming.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.2;
    width: 100%;
    height:500px;
    }
    div#gamingSecond{
    width:100%;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }

#outdoorMain{
    position:relative;
    }
    div#outdoorFirst{
    background-image: url("./images/detecting.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:0.2;
    width: 100%;
    height:500px;
    }
    div#outdoorSecond{
    width:100%;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }