h1 {
    text-align: center;
    font-family: 'Bungee Shade', serif;
    color: red;
    opacity: 1.0;
}

h2 {
    font-family: 'Rakkas', serif;
    color: red;
}

p {
    font-family: 'Do Hyeon', serif;
}

#introMain{
    position:relative;
    }
    div#introFirst{
    background-image: url("./images/ravenloft.jpg");
    opacity:0.3;
    width: 1890px;
    height:200px;
    }
    div#introSecond{
    width:1890px;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }

#readingMain{
    position:relative;
    }
    div#readingFirst{
    background-image: url("./images/books.jpg");
    background-repeat: no-repeat;
    opacity:0.3;
    width: 1890px;
    height:200px;
    }
    div#readingSecond{
    width:1890px;
    height:200px;
    position:absolute;
    top: 0;
    left:0;
    }

.myPainting {
    position: relative;
    background: rgb(62, 68, 78);
    overflow: hidden;
}

.myPainting:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("./images/paintbrushes.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.myGaming {
    position: relative;
    background: rgb(62, 68, 78);
    overflow: hidden;
}

.myGaming:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("./images/gaming.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.myOutdoors {
    position: relative;
    background: rgb(62, 68, 78);
    overflow: hidden;
}

.myOutdoors:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.4;
    background-image: url("./images/detecting.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
